In [75]:
### Library Imports
import pandas as pd
import numpy as np
### Script Imports
import utils

In [13]:
### Clean Accounts

def clean_account():
    
    ### Import the loans file
    na_values= ['None', '?',]
    df = pd.read_csv('../../project/banking_data/account.csv', sep=';',na_values=na_values)
    
    ### Date conversion
    return utils.date_conversion(df,'date')

In [24]:
def clean_card(test = False):
    ### Import the loans file
    na_values= ['None', '?',]
    if(test):
        df = pd.read_csv('../../project/banking_data/card_test.csv', sep=';',na_values=na_values)
    else:
        df = pd.read_csv('../../project/banking_data/card_train.csv', sep=';',na_values=na_values)

    return utils.date_conversion(df,'issued')

In [15]:
def clean_client():
    ### Import the clients file
    na_values= ['None', '?',]
    df = pd.read_csv('../../project/banking_data/client.csv', sep=';',na_values=na_values)
    

    ### Date conversion with creation of gender column
    df = utils.date_conversion_genders(df,'birth_number')
    
    ### Reordering Columns
    cols = df.columns.tolist()
    cols = cols[0:2] + cols[3:4] + cols[2:3]
    return df[cols]

In [16]:
def clean_district():
    ### Import the loans file
    na_values= ['None', '?',]
    df = pd.read_csv('../../project/banking_data/district.csv', sep=';',na_values=na_values)

    ### Replace null values in the '95 column for the ones on the '96 column
    districts = df.copy()
    districts["no. of commited crimes \'95 "] = districts["no. of commited crimes \'95 "].combine_first(districts["no. of commited crimes \'96 "])
    districts["unemploymant rate \'95 "] = districts["unemploymant rate \'95 "].combine_first(districts["unemploymant rate \'96 "])
    
    ### Added columns for crime analysis
    districts['crime_growth'] = districts["no. of commited crimes '96 "] - districts["no. of commited crimes '95 "]
    districts['total_crime'] = districts["no. of commited crimes '96 "] + districts["no. of commited crimes '95 "]

    ### Added column for uneployment growth analysis
    districts['unemploymant_growth'] = districts["unemploymant rate '96 "] - districts["unemploymant rate '95 "]

    ### Reorder columns
    cols = districts.columns.tolist()
    cols = cols[:13] + cols[-1:] + cols[13:-1]

    return districts[cols]

In [17]:
def clean_loans(test=False):
    ### Import the loans file
    na_values= ['None', '?',]
    if(test):
        df = pd.read_csv('../../project/banking_data/loan_test.csv', sep=';',na_values=na_values)
    else:
        df = pd.read_csv('../../project/banking_data/loan_train.csv', sep=';',na_values=na_values)
    
    return utils.date_conversion(df,'date')

In [18]:
def clean_trans(test = False):
    ### Import the trans file
    
    na_values= ['None', '?',]
    
    if test:
        df = pd.read_csv('../../project/banking_data/trans_test.csv', sep=';',na_values=na_values)
    else:
        df = pd.read_csv('../../project/banking_data/trans_train.csv', sep=';',na_values=na_values)
    


    ### Convert date format
    trans = utils.date_conversion(df,'date')

    ### Drop columns with too many missing values
    trans = utils.drop_null_columns(trans,0.4)

    ### Replace null values from the operation column for the most common occurence
    trans['operation'] = trans['operation'].fillna(trans['operation'].value_counts().idxmax())
    
    return trans

In [27]:
### Merge Data


# def get_final_df(test=False):
test= False

accounts = clean_account()
cards = clean_card(test)
clients = clean_client()
districts = clean_district()
loans = clean_loans(test)
trans = clean_trans(test)
disp = pd.read_csv('../../project/banking_data/disp.csv', sep=';')

C:\Users\utilizador\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2901: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [83]:
### TODO:DO a New Merge with everything
# ### Merge everything with sequel queries

cards
disp

# accounts.merge(disp, left_on='lkey', right_on='rkey')
cardClients = cards.rename(columns={"type":"card_type", "issued":"card_date"})
cardClients = cards.merge(disp, how='left', on='disp_id')
cardClients = cardClients[cardClients["type"] == "OWNER"]
cardClients


clientDistricts = clients.merge(districts, left_on='district_id', right_on='code ')
clientDistricts.drop(columns=['code '])
clientDistricts


accountDistricts = accounts.merge(districts, left_on='district_id', right_on='code ')
accountDistricts.drop(columns=['code '])
accountDistricts

cardWithClient = cards.merge(disp).drop(columns=["card_id","disp_id","client_id","type"])
loanClientsWithNoCard = [i for i in loans["account_id"] if not i in list(cardWithClient["account_id"])]
cardClientsWithNoLoan = [i for i in cardWithClient["account_id"] if not i in list(loans["account_id"])]
cardWithClient = cardWithClient.drop(index=cardWithClient[cardWithClient["account_id"].isin(cardClientsWithNoLoan)].index)
loanClientsWithNoCard = np.array([loanClientsWithNoCard,["no card"]*len(loanClientsWithNoCard),[0]*len(loanClientsWithNoCard)]).transpose()
loanClientsWithNoCard = pd.DataFrame(loanClientsWithNoCard,columns=["account_id","card_type", "card issue"])
cardWithClient = cardWithClient.append(loanClientsWithNoCard)
cardWithClient["account_id"] = cardWithClient["account_id"].astype(int)

# accountClient = disp.merge(accountDistricts)
# accountClient = accountClient.merge(clientDistricts)

accountClient = disp.merge(accountDistricts)
accountClient = accountClient.merge(clientDistricts)
accountClient = accountClient.drop(columns="client_id")
accountClient = accountClient[accountClient["type"] == "OWNER"]


loanFinal = loans.merge(accountClient, on="account_id")
loanFinal = loanFinal.merge(cardWithClient, on="account_id")
loanFinal = loanFinal.merge(trans, on="account_id")
loanFinal = loanFinal.drop(columns=["account_id", "disp_id", "type_x"])

loanFinal

C:\Users\utilizador\Anaconda3\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,loan_id,date_x,amount_x,duration,payments,status,district_id,frequency,date_y,code,...,gender,card issue,card_date,card_type,trans_id,date,type_y,operation,amount_y,balance
0,5314,05-07-1993,96396,12,8033,-1,30,weekly issuance,22-03-1993,30,...,female,0,NaN,no card,523621,22-03-1993,credit,credit in cash,1100.0,1100.0
1,5314,05-07-1993,96396,12,8033,-1,30,weekly issuance,22-03-1993,30,...,female,0,NaN,no card,524054,21-04-1993,credit,credit in cash,9900.0,11000.0
2,5314,05-07-1993,96396,12,8033,-1,30,weekly issuance,22-03-1993,30,...,female,0,NaN,no card,524055,21-05-1993,credit,credit in cash,5800.0,16800.0
3,5314,05-07-1993,96396,12,8033,-1,30,weekly issuance,22-03-1993,30,...,female,0,NaN,no card,524056,20-06-1993,credit,credit in cash,3300.0,20100.0
4,5316,11-07-1993,165960,36,4610,1,46,monthly issuance,13-02-1993,46,...,male,0,NaN,no card,527445,13-02-1993,credit,credit in cash,700.0,700.0
5,5316,11-07-1993,165960,36,4610,1,46,monthly issuance,13-02-1993,46,...,male,0,NaN,no card,3589600,28-02-1993,credit,withdrawal in cash,2.9,702.9
6,5316,11-07-1993,165960,36,4610,1,46,monthly issuance,13-02-1993,46,...,male,0,NaN,no card,527456,28-02-1993,credit,credit in cash,18972.0,19674.9
7,5316,11-07-1993,165960,36,4610,1,46,monthly issuance,13-02-1993,46,...,male,0,NaN,no card,528025,15-03-1993,credit,credit in cash,3700.0,23374.9
8,5316,11-07-1993,165960,36,4610,1,46,monthly issuance,13-02-1993,46,...,male,0,NaN,no card,527446,16-03-1993,credit,credit in cash,8368.0,31742.9
9,5316,11-07-1993,165960,36,4610,1,46,monthly issuance,13-02-1993,46,...,male,0,NaN,no card,527466,20-03-1993,credit,credit in cash,36574.0,68316.9
10,5316,11-07-1993,165960,36,4610,1,46,monthly issuance,13-02-1993,46,...,male,0,NaN,no card,3589601,31-03-1993,credit,withdrawal in cash,166.9,68483.8
11,5316,11-07-1993,165960,36,4610,1,46,monthly issuance,13-02-1993,46,...,male,0,NaN,no card,527447,07-04-1993,credit,credit in cash,20562.0,89045.8
12,5316,11-07-1993,165960,36,4610,1,46,monthly issuance,13-02-1993,46,...,male,0,NaN,no card,527452,13-04-1993,credit,credit in cash,31467.0,120512.8
13,5316,11-07-1993,165960,36,4610,1,46,monthly issuance,13-02-1993,46,...,male,0,NaN,no card,528026,13-04-1993,withdrawal,withdrawal in cash,54300.0,66212.8
14,5316,11-07-1993,165960,36,4610,1,46,monthly issuance,13-02-1993,46,...,male,0,NaN,no card,528027,14-04-1993,withdrawal,withdrawal in cash,22800.0,43412.8
15,5316,11-07-1993,165960,36,4610,1,46,monthly issuance,13-02-1993,46,...,male,0,NaN,no card,527453,24-04-1993,credit,credit in cash,5630.0,49042.8
16,5316,11-07-1993,165960,36,4610,1,46,monthly issuance,13-02-1993,46,...,male,0,NaN,no card,527462,28-04-1993,credit,credit in cash,28095.0,77137.8
17,5316,11-07-1993,165960,36,4610,1,46,monthly issuance,13-02-1993,46,...,male,0,NaN,no card,3589602,30-04-1993,credit,withdrawal in cash,242.0,77379.8
18,5316,11-07-1993,165960,36,4610,1,46,monthly issuance,13-02-1993,46,...,male,0,NaN,no card,527820,30-04-1993,withdrawal in cash,withdrawal in cash,5669.0,71710.8
19,5316,11-07-1993,165960,36,4610,1,46,monthly issuance,13-02-1993,46,...,male,0,NaN,no card,527957,30-04-1993,withdrawal,withdrawal in cash,14.6,71696.2
20,5316,11-07-1993,165960,36,4610,1,46,monthly issuance,13-02-1993,46,...,male,0,NaN,no card,527748,05-05-1993,withdrawal,remittance to another bank,956.0,70740.2
21,5316,11-07-1993,165960,36,4610,1,46,monthly issuance,13-02-1993,46,...,male,0,NaN,no card,527448,06-05-1993,credit,credit in cash,35707.0,106447.2
22,5316,11-07-1993,165960,36,4610,1,46,monthly issuance,13-02-1993,46,...,male,0,NaN,no card,527676,09-05-1993,withdrawal,remittance to another bank,3419.0,103028.2
23,5316,11-07-1993,165960,36,4610,1,46,monthly issuance,13-02-1993,46,...,male,0,NaN,no card,527604,12-05-1993,withdrawal,remittance to another bank,4167.0,98861.2
24,5316,11-07-1993,165960,36,4610,1,46,monthly issuance,13-02-1993,46,...,male,0,NaN,no card,528028,14-05-1993,withdrawal,withdrawal in cash,37100.0,61761.2
25,5316,11-07-1993,165960,36,4610,1,46,monthly issuance,13-02-1993,46,...,male,0,NaN,no card,527532,25-05-1993,withdrawal,withdrawal in cash,5700.0,56061.2
26,5316,11-07-1993,165960,36,4610,1,46,monthly issuance,13-02-1993,46,...,male,0,NaN,no card,3589603,31-05-1993,credit,withdrawal in cash,303.4,56364.6
27,5316,11-07-1993,165960,36,4610,1,46,monthly issuance,13-02-1993,46,...,male,0,NaN,no card,527958,31-05-1993,withdrawal,withdrawal in cash,14.6,56350.0
28,5316,11-07-1993,165960,36,4610,1,46,monthly issuance,13-02-1993,46,...,male,0,NaN,no card,527818,03-06-1993,withdrawal in cash,withdrawal in cash,8013.0,48337.0
29,5316,11-07-1993,165960,36,4610,1,46,monthly issuance,13-02-1993,46,...,male,0,NaN,no card,527868,04-06-1993,withdrawal,withdrawal in cash,15900.0,32437.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19222,7308,27-12-1996,129408,24,5392,1,67,monthly issuance,14-10-1995,67,...,female,0,NaN,no card,3424209,12-09-1996,withdrawal,withdrawal in cash,4500.0,15919.9
19223,7308,27-12-1996,129408,24,5392,1,67,monthly issuance,14-10-1995,67,...,female,0,NaN,no card,3424318,30-09-1996,withdrawal,withdrawal in cash,14.6,15978.6
19224,7308,27-12-1996,129408,24,5392,1,67,monthly issuance,14-10-1995,67,...,female,0,NaN,no card,3530009,30-09-1996,credit,withdrawal in cash,73.4,15993.2
19225,7308,27-12-1996,129408,24,5392,1,67,monthly issuance,14-10-1995,67,...,female,0,NaN,no card,3423970,05-10-1996,credit,credit in cash,16141.0,32119.6
19226,7308,27-12-1996,129408,24,5392,1,67,monthly issuance,14-10-1995,67,...,female,0,NaN,no card,3424162,06-10-1996,withdrawal,remittance to another bank,129.0,31990.6
19227,7308,27-12-1996,129408,24,5392,1,67,monthly issuance,14-10-1995,67,...,female,0,NaN,no card,3424114,07-10-1996,withdrawal,remittance to another bank,330.0,31660.6
19228,7308,27-12-1996,129408,24,5392,1,67,monthly issuance,14-10-1995,67,...,female,0,NaN,no card,3424066,08-10-1996,withdrawal,remittance to another bank,56.0,30904.6
19229,7308,27-12-1996,129408,24,5392,1,67,monthly issuance,14-10-1995,67,...,female,0,NaN,no card,3424356,08-10-1996,withdrawal,withdrawal in cash,700.0,30960.6
19230,7308,27-12-1996,129408,24,5392,1,67,monthly issuance,14-10-1995,67,...,female,0,NaN,no card,3424018,10-10-1996,withdrawal,remittance to another bank,4780.0,26124.6
19231,7308,27-12-1996,129408,24,5392,1,67,monthly issuance,14-10-1995,67,...,female,0,NaN,no card,3424210,11-10-1996,withdrawal,withdrawal in cash,5800.0,20324.6
19232,7308,27-12-1996,129408,24,5392,1,67,monthly issuance,14-10-1995,67,...,female,0,NaN,no card,3424282,22-10-1996,withdrawal,withdrawal in cash,1080.0,19244.6
19233,7308,27-12-1996,129408,24,5392,1,67,monthly issuance,14-10-1995,67,...,female,0,NaN,no card,3424319,31-10-1996,withdrawal,withdrawal in cash,14.6,19316.8
19234,7308,27-12-1996,129408,24,5392,1,67,monthly issuance,14-10-1995,67,...,female,0,NaN,no card,3530010,31-10-1996,credit,withdrawal in cash,86.8,19331.4
19235,7308,27-12-1996,129408,24,5392,1,67,monthly issuance,14-10-1995,67,...,female,0,NaN,no card,3424211,04-11-1996,withdrawal,withdrawal in cash,4600.0,14716.8
19236,7308,27-12-1996,129408,24,5392,1,67,monthly issuance,14-10-1995,67,...,female,0,NaN,no card,3423971,05-11-1996,credit,credit in cash,16141.0,30857.8
19237,7308,27-12-1996,129408,24,5392,1,67,monthly issuance,14-10-1995,67,...,female,0,NaN,no card,3424163,06-11-1996,withdrawal,remittance to another bank,129.0,30728.8
19238,7308,27-12-1996,129408,24,5392,1,67,monthly issuance,14-10-1995,67,...,female,0,NaN,no card,3424115,07-11-1996,withdrawal,remittance to another bank,330.0,26798.8
19239,7308,27-12-1996,129408,24,5392,1,67,monthly issuance,14-10-1995,67,...,female,0,NaN,no card,3424357,07-11-1996,withdrawal,withdrawal in cash,3600.0,27128.8
19240,7308,27-12-1996,129408,24,5392,1,67,monthly issuance,14-10-1995,67,...,female,0,NaN,no card,3424067,08-11-1996,withdrawal,remittance to another bank,56.0,26742.8
19241,7308,27-12-1996,129408,24,5392,1,67,monthly issuance,14-10-1995,67,...,female,0,NaN,no card,3424019,10-11-1996,withdrawal,remittance to another bank,4780.0,21962.8
19242,7308,27-12-1996,129408,24,5392,1,67,monthly issuance,14-10-1995,67,...,female,0,NaN,no card,3424320,30-11-1996,withdrawal,withdrawal in cash,14.6,22042.5
19243,7308,27-12-1996,129408,24,5392,1,67,monthly issuance,14-10-1995,67,...,female,0,NaN,no card,3530011,30-11-1996,credit,withdrawal in cash,94.3,22057.1
19244,7308,27-12-1996,129408,24,5392,1,67,monthly issuance,14-10-1995,67,...,female,0,NaN,no card,3424246,01-12-1996,withdrawal,withdrawal in cash,960.0,21082.5
19245,7308,27-12-1996,129408,24,5392,1,67,monthly issuance,14-10-1995,67,...,female,0,NaN,no card,3423972,05-12-1996,credit,credit in cash,24212.0,45294.5
19246,7308,27-12-1996,129408,24,5392,1,67,monthly issuance,14-10-1995,67,...,female,0,NaN,no card,3424212,05-12-1996,withdrawal,withdrawal in cash,5400.0,39894.5
19247,7308,27-12-1996,129408,24,5392,1,67,monthly issuance,14-10-1995,67,...,female,0,NaN,no card,3424164,06-12-1996,withdrawal,remittance to another bank,129.0,39765.5
19248,7308,27-12-1996,129408,24,5392,1,67,monthly issuance,14-10-1995,67,...,female,0,NaN,no card,3424358,07-12-1996,withdrawal,withdrawal in cash,10400.0,29365.5
19249,7308,27-12-1996,129408,24,5392,1,67,monthly issuance,14-10-1995,67,...,female,0,NaN,no card,3424116,07-12-1996,withdrawal,remittance to another bank,330.0,29035.5
19250,7308,27-12-1996,129408,24,5392,1,67,monthly issuance,14-10-1995,67,...,female,0,NaN,no card,3424068,08-12-1996,withdrawal,remittance to another bank,56.0,28979.5
19251,7308,27-12-1996,129408,24,5392,1,67,monthly issuance,14-10-1995,67,...,female,0,NaN,no card,3424020,10-12-1996,withdrawal,remittance to another bank,4780.0,24199.5