In [2]:
### Library Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Script Imports
import utils


### Import the loans file
df = pd.read_csv('../../project/banking_data/card_train.csv', sep=';')

In [5]:
card = utils.date_conversion(df,'issued')
card

     card_id  disp_id     type      issued
0       1005     9285  classic  07-11-1993
1        104      588  classic  19-01-1994
2        747     4915  classic  05-02-1994
3         70      439  classic  08-02-1994
4        577     3687  classic  15-02-1994
5        377     2429  classic  03-03-1994
6        721     4680   junior  05-04-1994
7        437     2762  classic  01-06-1994
8        188     1146  classic  19-06-1994
9         13       87  classic  29-06-1994
10       732     4763  classic  21-07-1994
11       181     1066  classic  19-08-1994
12       384     2475   junior  15-09-1994
13       309     1946  classic  19-09-1994
14       478     3084  classic  09-10-1994
15       563     3589  classic  21-10-1994
16       369     2363  classic  08-11-1994
17       376     2428  classic  10-11-1994
18       483     3115  classic  24-11-1994
19       174     1039   junior  04-12-1994
20       658     4251  classic  25-12-1994
21       763     5138   junior  30-12-1994
22       778     5275  classic  02-01-1995
23      1039     9837  classic  07-01-1995
24       477     3082   junior  16-01-1995
25       168     1018  classic  24-01-1995
26       314     1999   junior  27-01-1995
27       468     3023  classic  30-01-1995
28       208     1246     gold  08-02-1995
29       766     5200  classic  11-02-1995
..       ...      ...      ...         ...
147      776     5263  classic  19-10-1996
148      197     1202   junior  21-10-1996
149      516     3279  classic  25-10-1996
150      381     2440  classic  27-10-1996
151      272     1754   junior  28-10-1996
152      772     5243  classic  30-10-1996
153      528     3356  classic  31-10-1996
154       87      493  classic  02-11-1996
155       88      496  classic  04-11-1996
156      441     2785  classic  05-11-1996
157      562     3583  classic  07-11-1996
158      690     4479  classic  07-11-1996
159      374     2423  classic  08-11-1996
160       57      347  classic  09-11-1996
161      722     4684  classic  14-11-1996
162      300     1890  classic  20-11-1996
163      117      649   junior  23-11-1996
164      541     3427   junior  26-11-1996
165      294     1861  classic  04-12-1996
166       10       77  classic  07-12-1996
167      710     4588   junior  10-12-1996
168      363     2324   junior  11-12-1996
169      697     4518  classic  11-12-1996
170      433     2724  classic  12-12-1996
171      642     4137  classic  13-12-1996
172      243     1478  classic  13-12-1996
173      162      967   junior  23-12-1996
174      594     3794   junior  27-12-1996
175      609     3893  classic  29-12-1996
176      786     5478  classic  31-12-1996

[177 rows x 4 columns]