In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Script Imports
import utils


### Import the clients file
na_values= ['None', '?',]
df = pd.read_csv('../../project/banking_data/client.csv', sep=';',na_values=na_values)

In [2]:
### Date conversion with creation of gender column

clients = utils.date_conversion_genders(df,'birth_number')
### Reordering Columns
cols = clients.columns.tolist()
cols = cols[0:2] + cols[3:4] + cols[2:3]
clients = clients[cols]

      client_id birth_number  district_id  gender
0             1   13-12-1970           18  female
1             2   04-02-1945            1    male
2             3   09-10-1940            1  female
3             4   01-12-1956            5    male
4             5   03-07-1960            5  female
...         ...          ...          ...     ...
5364      13955   30-10-1945            1  female
5365      13956   06-04-1943            1    male
5366      13968   13-04-1968           61    male
5367      13971   19-10-1962           67  female
5368      13998   12-08-1953           74  female

[5369 rows x 4 columns]