In [11]:
### Library Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Script Imports
import utils


### Import the loans file
na_values= ['None', '?',]
df = pd.read_csv('../../project/banking_data/district.csv', sep=';',na_values=na_values)

df.isnull().sum()

code                                                 0
name                                                 0
region                                               0
no. of inhabitants                                   0
no. of municipalities with inhabitants < 499         0
no. of municipalities with inhabitants 500-1999      0
no. of municipalities with inhabitants 2000-9999     0
no. of municipalities with inhabitants >10000        0
no. of cities                                        0
ratio of urban inhabitants                           0
average salary                                       0
unemploymant rate '95                                1
unemploymant rate '96                                0
no. of enterpreneurs per 1000 inhabitants            0
no. of commited crimes '95                           1
no. of commited crimes '96                           0
dtype: int64

In [12]:
### Replace null values in the '95 column for the ones on the '96 column
#districts = utils.replace_null(df)

districts = df.copy()
districts["no. of commited crimes \'95 "] = districts["no. of commited crimes \'95 "].combine_first(districts["no. of commited crimes \'96 "])
districts["unemploymant rate \'95 "] = districts["unemploymant rate \'95 "].combine_first(districts["unemploymant rate \'96 "])

In [13]:
### Added columns for crime analysis
districts['crime_growth'] = districts["no. of commited crimes '96 "] - districts["no. of commited crimes '95 "]
districts['total_crime'] = districts["no. of commited crimes '96 "] + districts["no. of commited crimes '95 "]

### Added column for uneployment growth analysis
districts['unemploymant_growth'] = districts["unemploymant rate '96 "] - districts["unemploymant rate '95 "]

### Reorder columns
cols = districts.columns.tolist()
cols = cols[:13] + cols[-1:] + cols[13:-1]

districts = districts[cols]

districts

,code,name,region,no. of inhabitants,no. of municipalities with inhabitants < 499,no. of municipalities with inhabitants 500-1999,no. of municipalities with inhabitants 2000-9999,no. of municipalities with inhabitants >10000,no. of cities,ratio of urban inhabitants,average salary,unemploymant rate '95,unemploymant rate '96,unemploymant_growth,no. of enterpreneurs per 1000 inhabitants,no. of commited crimes '95,no. of commited crimes '96,crime_growth,total_crime
0,1,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,0.14,167,85677.0,99107,13430.0,184784.0
1,2,Benesov,central Bohemia,88884,80,26,6,2,5,46.7,8507,1.67,1.85,0.18,132,2159.0,2674,515.0,4833.0
2,3,Beroun,central Bohemia,75232,55,26,4,1,5,41.7,8980,1.95,2.21,0.26,111,2824.0,2813,-11.0,5637.0
3,4,Kladno,central Bohemia,149893,63,29,6,2,6,67.4,9753,4.64,5.05,0.41,109,5244.0,5892,648.0,11136.0
4,5,Kolin,central Bohemia,95616,65,30,4,1,6,51.4,9307,3.85,4.43,0.58,118,2616.0,3040,424.0,5656.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,73,Opava,north Moravia,182027,17,49,12,2,7,56.4,8746,3.33,3.74,0.41,90,4355.0,4433,78.0,8788.0
73,74,Ostrava - mesto,north Moravia,323870,0,0,0,1,1,100.0,10673,4.75,5.44,0.69,100,18782.0,18347,-435.0,37129.0
74,75,Prerov,north Moravia,138032,67,30,4,2,5,64.6,8819,5.38,5.66,0.28,99,4063.0,4505,442.0,8568.0
75,76,Sumperk,north Moravia,127369,31,32,13,2,7,51.2,8369,4.73,5.88,1.15,107,3736.0,2807,-929.0,6543.0
76,77,Vsetin,north Moravia,148545,8,35,12,3,4,53.5,8909,4.01,5.56,1.55,113,3460.0,3590,130.0,7050.0