In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Script Imports
import utils


### Import the clients file
df = pd.read_csv('../../project/banking_data/client.csv', sep=';')

In [44]:
clients = utils.date_conversion_genders(df,'birth_number')



### Reordering Columns
cols = clients.columns.tolist()
cols = cols[0:2] + cols[3:4] + cols[2:3]
clients = clients[cols]

clients

      client_id birth_number  gender  district_id
0             1   13-12-1970  female           18
1             2   04-02-1945    male            1
2             3   09-10-1940  female            1
3             4   01-12-1956    male            5
4             5   03-07-1960  female            5
5             6   22-09-1919    male           12
6             7   25-01-1929    male           15
7             8   21-02-1938  female           51
8             9   16-10-1935    male           60
9            10   01-05-1943    male           57
10           11   22-08-1950  female           57
11           12   20-02-1981    male           40
12           13   29-05-1974  female           54
13           14   22-06-1942  female           76
14           15   28-08-1918  female           21
15           16   25-02-1919    male           21
16           17   13-10-1934    male           76
17           18   05-04-1931  female           76
18           19   28-12-1942    male           47
19           20   04-01-1979    male           46
20           21   29-10-1952  female           12
21           22   11-10-1969  female            1
22           23   29-05-1973    male            1
23           24   29-07-1939  female           43
24           25   23-04-1939  female           21
25           26   20-04-1969  female           74
26           27   26-03-1966  female           54
27           28   29-09-1945    male            1
28           29   11-09-1951  female           30
29           30   09-10-1957  female           74
...         ...          ...     ...          ...
5339      13588   29-01-1974    male           46
5340      13590   03-08-1977    male           59
5341      13603   28-07-1941    male           46
5342      13608   15-05-1963  female           37
5343      13620   26-07-1970    male           16
5344      13640   09-06-1955  female           28
5345      13657   12-05-1963  female           59
5346      13658   23-04-1957    male           59
5347      13673   20-02-1971    male           39
5348      13687   23-05-1959    male           75
5349      13690   16-05-1963    male           70
5350      13694   20-01-1976  female            1
5351      13750   13-11-1980  female           12
5352      13751   20-07-1979    male           12
5353      13803   14-11-1947    male            1
5354      13820   31-07-1948  female           33
5355      13845   16-02-1973    male           15
5356      13852   26-01-1972    male            5
5357      13886   12-04-1954  female           44
5358      13912   20-11-1975    male           50
5359      13915   23-11-1974    male           77
5360      13921   20-12-1970  female           62
5361      13923   22-02-1979  female            7
5362      13924   09-09-1952  female           54
5363      13931   01-01-1942    male            8
5364      13955   30-10-1945  female            1
5365      13956   06-04-1943    male            1
5366      13968   13-04-1968    male           61
5367      13971   19-10-1962  female           67
5368      13998   12-08-1953  female           74

[5369 rows x 4 columns]